<form class="myform">
  <hr width="70%">
  <div class="container-fluid">
    <div class ="row no-gutter">
      <div class="col-md-5">
          <br>
          <br>
          <br>
        <div class="form-group">
          <label for="Author">Author</label>
          <input type="text" required class="form-control" id="author">
        </div>
          <div class="form-group">
            <label for="Author">Submitter</label>
            <input type="text" required class="form-control" id="submitter">
          </div>
          <div class="form-group">
              <label for="enterquote">Enter Quote</label>
              <textarea class="form-control" id="enterquote" rows="3"></textarea>
            </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </div>
      <div class="col-md-7">
      </div>
   </div> 
  </div>
</form>

